{% extends 'base/base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
    <div class="container border my-5 p-4 rounded col-md-4 shadow-lg">
        <h3 class="text-center heading-text mb-4">Login Page</h3>
        <hr>
        {% if error_message %}
            <div class="alert alert-danger text-center">
                {{ error_message }}
            </div>
        {% endif %}
        <form method="post" class="mb-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <p class="text-center mt-3">
            Don't have an account?
            <a href="{% url 'account:register' %}">Click here to register</a>
        </p>
    </div>
{% endblock %}
