{% extends 'dashboard/layout.html' %}

{% block category_active %}
    active
{% endblock %}

{% block title %}
    {{ job }} Category
{% endblock %}

{% block content %}
    <h2 class="text-center heading-text m-5">{{ job }} Category</h2>
    <div class="d-flex justify-content-center">
        <form method="POST" class="col-md-3" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
{% endblock %}

